html{
    background: #000000;
}

.parent {
    width: 100%;
    height: 100%;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
}

.inner{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.block {
    display: inline-block;
}

.errorheader{
    font-family: "Bebas Neue";
    font-weight: normal;
    font-size: 100px;
    color: #ffffff;
}

.redirecttext{
    display: inline-block;
    font-family: "Bebas Neue";
    font-weight: 100;
    font-size: 70px;
    color: #c1c1c1;
}