html{
	background: rgb(64,156,104);
    background: radial-gradient(circle, rgba(64,156,104,1) 0%, rgba(8,49,60,1) 100%);
}

.parent {
    width: 100%;
    height: 100%;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
}

.inner{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.block {
	background: rgba(255, 255, 255, 0.12);
	padding: 20px 50px;
	border-radius: 15px;
	box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
	display: inline-block;
}

.prnameheader{
	font-family: 'Mohave Regular';
	font-size: 50px;
	text-shadow: 0px 0px 3px #515151;
	color: #efefef;
	text-transform: uppercase;
}

.authorheader{
	font-family: 'Myriad Pro Light';
	font-size: 20px;
	text-shadow: 0px 0px 3px #515151;
	color: #d4d4d4;
}

.button_download {
	margin: 10px;
	background-color:#292929;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#fbf5f5;
	font-family: 'HelveticaNeueCyr';
	font-weight: 100;
	font-size:25px;
	padding:6px 10px;
	text-decoration:none;
}
.button_download:hover {
	background-color:#474747;
}
.button_download:active {
	position:relative;
	top:1px;
}